
.service{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.servicestitle{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.desc{
   color: grey;
   line-height: 1.5;
   font-size: 16px;
   width: 350px;
   text-align: center;
}
.icon{
    font-size: 50px;
    color: white;
    background-color: orange;
    padding: 13px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}