.footer-area{
    display: flex;
    max-width: 1100px;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.link{
    display: flex;
    gap: 20px;
}
.icons-area{
    display: flex;
    gap: 30px;
}