*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.list li {
    list-style-type: none;
  }
  
.form{
    background-color:#5F9EA0;
    width: 100%;
    text-align: center;
    height: 200px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
}
input[type="number"]{
    width:180px;
    border: none;
    text-align: center;
    border-radius: 10px;
    height: 30px;
}
.input{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.btn-plus,.btn-minus,.btn-mult,.btn-device{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.button{
    align-items: center;
    gap: 20px;
    justify-content: center;
    display: flex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
