*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#accountForm{
    width: 500px;
    align-items: center;
    height: 400px;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 30%;
    gap: 20px;
    background-image: linear-gradient(to bottom right, rgb(0, 255, 191) , rgb(193, 193, 238));
}
h2{
    font-size: 30px;
    color: rgb(12, 92, 65);
}
input,button{
    width: 250px;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    border: none;
}
button{
    background-color: rgb(7, 214, 187);
}