body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./image/balina.jpg') no-repeat center center/cover;
}
.quote-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgba(8, 0, 0, 0.637);
    backdrop-filter: blur(10px);
}
.quote-box p {
    font-style: italic;
}
.quote-box .author {
    margin-top: 10px;
    font-weight: bold;
}