@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--main-text-color);

}
ul,ol{
    list-style-type: none;
}
html{
    font-size:62.5%;
}
img{
    width:100%;
    display:block;
    height: 100%;
    object-fit:cover;
}
body{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--main-text-color);
    font-family: var(--main-text-family);

}
/* ::selection{
    background-color: #b8926a;
    color: #2d2d2b;
} */

:root{
    --main-text-color: #2d2d2b;
    --main-text-family:"Lato",sans-serif;
    --main-bg-color: #eae6df;
}
.container{
    max-width: 132rem;
    margin: 0 auto;
}
