body {
   height: 100vh;
 }
 
.register_area {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
 
.register {
   width: 400px;
   border: 1px solid gray;
   padding: 20px;
   border-radius: 15px;
   background-image: linear-gradient(to bottom right, rgb(0, 255, 191) , rgb(193, 193, 238));

}
 
.title {
   text-align: center;
}

 
.submit{
   width: 100%;
   background-color: rgb(0, 255, 191);
   border: 1px solid rgb(0, 255, 191);
}
.submit:hover{
 background-color:rgb(0, 255, 191);
 border: 1px solid rgb(0, 255, 191);
}