
.link {
  font-weight: 500;
  color: #ffffff !important;
  text-decoration: none !important ;
  font-size:1.4rem ;
}
.link:hover {
  color: #ed53f2 !important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  
}
li{
  list-style-type: none;
}